.idea
pyspherical
.ipynb_checkpoints
quflow/__pycache__
.eggs
.vscode
pyssht-wheels
profiling/*.txt
quflow.egg-info
/simulations/
/notebooks/*
!/notebooks/basic-example/basic-example.ipynb
!/notebooks/basic-cluster-simulation/basic-cluster-simulation.ipynb
*cpython*.pyc
quflow.code-workspace
/.pytest_cache
cluster-scripts/run_vera_mkl.sh
quflow-env-editable.yaml
cluster-scripts/setup_quflow_vera_mkl.sh
data/logo_color.afphoto
data/logo_mono.svg
data/logo.afdesign
quflow/splittingflow.py
quflow/integrators/isomp-old.py
quflow/templates/run_reverse_TEMPLATE.py
